@import './normalize.scss'; 

html {
    font-family: 'Inter', sans-serif;
}

div.menu-popup {
    display: block;
    height: 10rem;
    border: 0.05rem solid #4D4D4B;
    padding: 1rem;
    overflow-y: auto;
    width: 12rem;
    background: #080808;
    border-radius: 0.3rem;
    
   ul.menu {
    list-style-type: none;
    margin-block-start: 0;
    margin: 0;
    padding: 0;
    li.menu-item {
        overflow: hidden;
        white-space: nowrap;
        padding: 0.2rem 0;
        word-spacing: initial;
        margin: 0;
    }
   } 
}

body {
    background-color: #353536;
    color:#fff;
}

div.title-panel
{
    align-items: center;
    display: flex;
    justify-content: center;

    a.image-select {
        color:#fff;
        text-decoration: none;
        background: #4D4D4B;
        border-radius: 0.3rem;
        display: block;
        margin: 1rem;
        padding: 1rem;
        width: -moz-fit-content;
        width: fit-content;
    }

    #title-heading{
        text-align: center;
    }
}

#image-placeholder {
    display: block;
    margin:auto;

    &.fullscreen {
        width: 100%;
    }
}