@import './normalize.scss';
@import './colours.scss';
@import './basic-ui.scss';

html {
    font-family: 'Inter', sans-serif;
}


body {
    background-color: $background-primary;
    color: $white;
}


#app {

    div.menu-popup {
        background: $color-primary-4;
        border: 0.05rem solid $color-primary-0;
        border-radius: 0.3rem;
        display: block;
        height: 10rem;
        padding: 0.5rem;
        width: 12rem;
        overflow-x: hidden;
        overflow-y: auto;
        
        .text-field {
            background: $background-primary;
            margin: 0.1rem;
            margin-bottom: 0.5rem;
            padding: 0.4rem;
            input {                
                background: $background-primary;
                color: $white;
                display: block;
                font-family: 'Inter', sans-serif;
                width: 98%
            }
        }

        ul.menu {
            display: block;
            margin: 0;
            margin-block-start: 0;
            list-style-type: none;
            padding: 0;
            

            li.menu-item {
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-spacing: initial;

                a {
                    text-decoration: none;
                    color: $white;
                    padding: 0.3rem 0;
                    display: block;

                    &:hover,
                    &:active {
                        background-color: $color-primary-0;
                    }

                    &.highlighted {
                        background-color: $color-primary-3;
                    }
                }
            }
        }
    }

    div.title-panel {
        align-items: center;
        background-color: $color-primary-4;
        padding: 1rem;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        a.zoom-btn {
            margin-right: 1rem;
            width: -moz-fit-content;
            width: fit-content;
        }

        h1 {
            flex-grow: 1;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-spacing: initial;
        }

        a.image-select-btn {
            margin-left: 1rem;
            width: -moz-fit-content;
            width: fit-content;
        }

        #title-heading {
            text-align: center;
        }
    }

    img {
        border: none;
    }

    #image-placeholder {
        display: block;
        width: 78%;
        height: 100%;
        margin: auto;

        &.fullscreen {
            width: 100%;
        }
    }

    div.image-zoom {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100%;
        cursor: grabbing;

        @media (max-width: 412px) {
            background-size: auto;
        }

        position: absolute;
        top:0;
        width: 100%;
        height: 100dvh;

        a.close-btn {
            border-radius: 1em;
            opacity: 0.5;
            margin: 0.5rem;
            width: -moz-fit-content;
            width: fit-content;
        }
    }
}